
<!DOCTYPE html>
<html>
<head>
	<title>Nedelko Evgenii</title>
	<link rel="stylesheet" type="text/css" href="static/main/css/cards.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
	<section id="about" class="about">
		<div class="main">
			<img src="static/main/img/i_am.jpg">
			<div class="about-text">
				<h2>Обо мне</h2>
				<h5>Неделько Евгений Романович. г.Хабаровск</h5>
                <h4>Здравствуйте, я люблю играть на гитаре, заниматься спортом и программировать. Хочу поступить на интенсив по Django, чтобы научиться создавать сайты высокого уровня и узнать болььше о WEB-разработке и  языке Python. Надеюсь у меня это получится)</h4>
				<a class="button1" href="#more">Узнать больше</a>
			</div>
		</div>
	</section>


	<div class="hobby">
		<div class="title">
			<h2>Мои Увлечения</h2>
		</div>


            <div class="box">


                <div class="card1">

                    <i class="fas fa-anchor"></i>
                    <h5>Спорт</h5>
                    <input type="checkbox" class="read-more-checker1" id="read-more-checker1">
                        <p class="big1" style="text-align: center;">
                            Я занимаюсь парусным спортом уже более 6 лет. Многократно принимал участи во Всероссийских соревнованиях. Мне удалось выполнить мастера спорта.
                        </p>
                   <label for="read-more-checker1" class="read-more-button1"></label>

                </div>

                <div class="card2">
                    <i class="fas fa-code"></i>
                    <h5>Разработка</h5>
                        <input type="checkbox" class="read-more-checker2" id="read-more-checker2">
                        <p class="big2" style="text-align: center;">
                            Программированием я начал заниматься в 8 классе(сейчас я в 11), поступил в Яндекс лицей и благополучно его окончил. Во время обучения создал


                        </p>
                        <label for="read-more-checker2" class="read-more-button2"></label>
                </div>

                <div class="card3">
                    <i class="fas fa-guitar"></i>
                    <h5>Творчество</h5>
                        <input type="checkbox" class="read-more-checker3" id="read-more-checker3">

                        <p class="big3" style="text-align: center;">
                            На гитаре я играю третий год. Когда я услышал песню nothing else matters, у меня появилось сильное желание исполнить ее самому в живую.
                        </p>
                        <label for="read-more-checker3" class="read-more-button3"></label>

                </div>

            </div>

	</div>

	<div id="more" class="arrow-up">
        <a class="fas fa-arrow-up" href="#"></a>
	</div>

</body>
</html>